th.tiny {
    width:1%;
}

th.small {
    width:10%;
}

th.normal {
    width:20%;
}

td.main {
    font-weight: bold;
}

.fadeout {
    opacity:0.5;
}

tr.fadeout td.main {
    text-decoration: line-through;
}

ul.ticketinfo {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-bottom: 20px;
}

ul.ticketinfo li dl {
    margin-bottom: 0;
}

ul.ticketinfo li dl dt,
ul.ticketinfo li dl dd
{
    display:inline-block;
}

ul.ticketinfo li dl dt {
    min-width: 100px;
}

ul.ticketinfo li dl dd {
    position:relative;
}